{% extends "base.html" %}

{% block content %}
<div class="jumbotron .container-fluid" style="height:125px; padding-top: 37px;">
    <h1>List of features in queue:</h1>
</div>

<div class="container" >


        <table class="table table-striped">
      <thead>
         <tr>
           <th>Client</th>
           <th>Priority</th>
           <th>Target Date</th>
           <th>Title</th>
           <th></th>
         </tr>
      </thead>
      <tbody>
            {% for feature in features %}
                <tr>
                    <td>{{feature.client}}</td>
                    <td>{{feature.client_priority}}</td>
                    <td>{{feature.target_date}}</td>
                    <td>{{feature.title}}</td>
                    <td>
                        <form action="{{url_for('feature_bp.del_feature',id=feature.id )}}" method="POST">
                            <input type="hidden" value="DELETE" name="hello"></input>
                            <input type="submit" value="Remove"></input>
                        </form>
                    </td>
                </tr>
            {% endfor %}
      </tbody>
    </table>




                {#
                <form action="{{url_for('feature_bp.edit_feature',id=feature.id )}}" method="POST">
                        <input type="hidden" value="EDIT" name="hello"></input>
                        <input type="submit" value="Edit"></input>
                </form>
                <form action="{{url_for('feature_bp.del_feature',id=feature.id )}}" method="POST">
                    <input type="hidden" value="DELETE" name="hello"></input>
                    <input type="submit" value="Remove"></input>
                </form>
                        #}



</div>

{% endblock %}
